body{
  text-align: center;
    background-color: #ccf;
    background-image: url(D:/GOIT/goit-fe-course/html-css/module-2/img/BG1.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: local;
}

.wrapper{
  display: inline-block;
  background-color: white;
  width: 480px;
  height: auto;
  margin-top: 240px;
  margin-bottom: 500px;
  padding-left: 40px;
  padding-right: 40px;
}

.img{
  margin-left: -10px;
  width: 420px;
  height: 100px;
  background-image: url(D:/GOIT/goit-fe-course/html-css/module-2/img/plane.png);
}
h1 {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: bold;
    font-family: verdana;
    font-size: 100%;
  }

  h2{
    text-align: left;
    font-weight: bold;
    font-family: verdana;
    font-size: 100%;
  }

  h3{
    text-align: left;
    font-weight: bold;

  }

  .bold{
    font-weight: bold;
  }

  p{
    text-align: left;
  }
  .column{
    column-count: 2;

  }
