@import "header.css";
@import "Slaider.css";
body{
  background-image: url('../img/bgi.png');
  background-size: cover;
}
.wrapper{
  width: 1024px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 45px;
  padding-bottom: 130px;
  padding-left: 60px;
  padding-right: 60px;
}

.topbutton {
width:30px;
height: 30px;
border-radius: 50%;
background: blue;
position:fixed;
bottom:25px;
right: 140px;
font-family:verdana;
font-size:12px;
}

.topbutton:after{
  content: '\2191';
  color: white;
  font-size: 16px;
  text-align: left;
}

.topbutton:hover{
  background-color: #AFEEEE;
}
